/* * {
    border: 1px solid black;
  }    */



  body {
 background-color: beige;
 margin: 0;
 background: linear-gradient(90deg, rgb(187, 238, 235) 0%, rgb(230, 245, 247) 35%, rgb(255, 255, 255) 100%);
/* background-image: url("dot-net.png"); */

}

 #vertBox {
    min-height: 100vh;
    margin-right: 70%;
    /* margin-top: -100px */
    display: flex;
    flex-direction: column;
/* justify-content: center;  */
align-items: center;
   /* margin-top: -100pt; */
    /* margin-bottom: -50pt; */
    background: linear-gradient(90deg, rgb(209, 55, 41) 0%, rgb(196, 80, 80) 35%, rgb(228, 163, 163) 100%);
    /* position: -webkit-sticky; */
}
  .circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    /* width: 100px;
    height: 100px; */
    background: url('profilepicksmall.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 220px;
    background-position-y: 0pt;
    
    margin-top: 50%;
    border: none;
    /* top: 5%;
    left: 25%; */
    /* position: absolute; */
    width: 70%;
    height: 200px;
    /* margin-left: 10%; */
    z-index: 1;
}

.pages {
    font-size: 20pt;
    color: rgb(177, 226, 113);
    /* font-family: 'Lucida Sans'; */
    
    /* text-align: left */
    /* height: 75px; */
    /* background-color: white; */
}

/* .icons {
    height: 75px;
} */

/* .second-div::after {
    display: table-column;
    margin-left: 515px;
    vertical-align: right;

  } */